<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
  <!-- ko if: (isShowLegend())-->
  <legend class="legend">
    <span>
      <!-- ko i18n: 'Credit Card Information'-->
      <!-- /ko --></span>
  </legend><br />
  <!-- /ko -->
  <div class="field number required">
    <label data-bind="attr: {for: getCode() + '_cc_owner'}" class="label">
      <span>Nome no Cartão</span>
    </label>
    <div class="control">
      <input required type="text" name="payment[cc_owner]" class="input-text" value=""
        data-validate="{'required-entry':true}" data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_owner',
                                    title: $t('Credit Card Owner Name'),
                                    'data-container': getCode() + '-cc-owner',
                                    'data-validate': JSON.stringify({'required':true})},
                            value: creditCardOwnerName,
                            valueUpdate: 'keyup'" />
    </div>
  </div>

  <div class="field number required">
    <label data-bind="attr: {for: getCode() + '_cpf'}" class="label">
      <span>
        <!-- ko i18n: 'CPF '-->
        <!-- /ko --></span>
    </label>
    <div class="control">
      <input onkeyup="mascara('###.###.###-##',this,event,true)" data-validate="{'required-entry':true}" required
        type="text" name="payment[cc_cpf]" class="input-text" value="" data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cpf',
                                    title: $t('CPF'),
                                    'data-container': getCode() + '-cpf',
                                    'data-validate': JSON.stringify({'required':true})},
                            value: creditCardOwnerCpf,
                            valueUpdate: 'keyup'" />
    </div>
    <span id="card-cpf-msg"></span>
  </div>
  <div class="field number required">
    <label data-bind="attr: {for: getCode() + '_cc_phone'}" class="label">
      <span>Número de Celular</span>
    </label>
    <div class="control">
      <div class="cc-number-input">
        <input onkeyup="mascara('##-#####-####',this,event,true)" data-validate="{'required-entry':true}" required
          type="text" name="payment[cc_phone]" class="input-text" value="" data-bind="attr: {
                                    autocomplete: on,
                                    id: getCode() + '_phone',
                                    title: $t('Phone'),
                                    'data-container': getCode() + '-phone',
                                    'data-validate': JSON.stringify({'required':true})},
                            value: creditCardMobilePhone,
                            valueUpdate: 'keyup'" />
        <span id="card-phone"></span>
      </div>
    </div>
  </div>

  <div class="field number required">
    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
      <span>Número do Cartão de Crédito</span>
    </label>
    <div class="control">
      <div class="cc-number-input">
        <input type="number" name="payment[cc_number]" class="input-text" value="" data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_number',
                                    title: $t('Credit Card Number'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
                              enable: isActive($parents),
                              value: creditCardNumber,
                              valueUpdate: 'keyup' " />



        <span id="card-msg"></span>
      </div>

      <div class="field type">
        <div class="control">
          <ul class="credit-card-types">
            <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
            <li class="item" data-bind="css: {
                                                 _active: $parent.selectedCardType() == item.type,
                                                 _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.type
                                                 } ">
              <!--ko if: $parent.getIcons(item.type) -->
              <img data-bind="attr: {
                        'src': $parent.getIcons(item.type).url,
                        'alt': item.type,
                        'width': $parent.getIcons(item.type).width,
                        'height': $parent.getIcons(item.type).height
                        }">
              <!--/ko-->
            </li>
            <!--/ko-->
          </ul>
          <input type="hidden" name="payment[cc_type]" class="input-text" value="" data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                   value: creditCardType
                   ">
        </div>
      </div>

    </div>
  </div>
  <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
      <span>
        <!-- ko i18n: 'Expiration Date'-->
        <!-- /ko --></span>
    </label>
    <div class="control">
      <div class="fields group group-2">
        <div class="field no-label month">
          <div class="control">
            <select required name="payment[cc_exp_month]" class="select select-month" data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Month'),
                                            value: creditCardExpMonth">
            </select>
          </div>
        </div>
        <div class="field no-label year">
          <div class="control">
            <select required name="payment[cc_exp_year]" class="select select-year" data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year'),
                                           value: creditCardExpYear">
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
      <span>
        <!-- ko i18n: 'Card Verification Number'-->
        <!-- /ko --></span>
    </label>
    <div class="control _with-tooltip">
      <input type="number" autocomplete="off" class="input-text cvv" name="payment[cc_cid]" value="" data-bind="attr: {id: getCode() + '_cc_cid',
                  title: $t('Card Verification Number'),
                  'data-container': getCode() + '-cc-cvv',
                  'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
                  enable: isActive($parents),
                  value: creditCardVerificationNumber" />
      <div class="field-tooltip toggle">
        <span class="field-tooltip-action action-cvv" tabindex="0" data-toggle="dropdown"
          data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
          <span>
            <!-- ko i18n: 'What is this?'-->
            <!-- /ko -->
          </span>
        </span>
      </div>
    </div>
  </div>

  <div class="field date required" data-bind="attr: {id: getCode() + '_cc_installments_div'}">
    <label data-bind="attr: {for: getCode() + '_cc_installments'}" class="label">
      <span>Parcelamento</span>
    </label>
    <div class="control">
      <div class="fields group group-2">
        <div class="field no-label installments">
          <div class="control">
            <select name="payment[cc_installments]" data-validate="{'required-entry':true}"
              class="select select-installments" data-bind="
            attr: {id: getCode()+'_payment_profile_id'},
            options: getParcelas(),
            optionsValue: 'value',
            optionsText: 'type',
            optionsCaption: $t('--Please Select--'),
            value: creditCardInstallments
            ">
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>