<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
  <div class="payment-method-title field choice">
    <input type="radio" name="payment[method]" class="radio"
      data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
    <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
  </div>
  <div class="payment-method-content" id="pagseguro_cc_method">
    <div data-role="checkout-messages" class="messages">
    </div>
    <div class="payment-method-billing-address">
      <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
      <!-- ko template: getTemplate() -->
      <!-- /ko -->
      <!--/ko-->
    </div>
    <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
      <!-- ko template: 'Tezus_Asaas/payment/cc-form' -->
      <!-- /ko -->
    </form>
    <div class="actions-toolbar">
      <div class="primary">
        <button class="action primary checkout" type="submit" data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        " disabled>
          <span data-bind="text: $t('Place Order')"></span>
        </button>
      </div>
    </div>
  </div>
</div>